.qualidade{
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}
.qualidade-item{
  flex: 1 1 300px;
  margin: 20px 10px;
}
.qualidade-item h2{
  font-size: 2.25em;
  color: #a4a4a4;
  margin-bottom: 20px;
}
.qualidade-item h2::before{
  content: '';
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}
.qualidade-item:nth-of-type(3n+1) h2::before{
  background-color: #ae81ff;
}
.qualidade-item:nth-of-type(3n+2) h2::before{
  background-color: #f9265e;
}
.qualidade-item:nth-of-type(3n+3) h2::before{
  background-color: #66d9eb;
}
.qualidade-item p{
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}