/*Superinfo*/
.superinfo-bg{
  background-color: #122ab2;
  color: #ffffff;
}
.superinfo{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}
.superinfo p, .superinfo a{
  margin: 0 10px 10px 10px;
}
.superinfo-bg a{
  color: #ffffff;
}